<link rel="stylesheet" href="/css/travel.css">
<script src="/js/travel.js"></script>
<div class="navigation">
    <div class="navigation-header">
        <span>首页</span>
        <span class="iconfont change-menu">&#xe679;</span>
    </div>
    <div class="menu-container">
        <%- include('menu') %>
    </div>
</div>
<section class="travel-container">
    <div class="top-title">旅行日记</div>
    <div class="nav-list">
        <%- include('menu') %>
    </div>
</section>
<section class="img-list">
    <div class="img-item">
        <img src="https://images.pexels.com/photos/1462636/pexels-photo-1462636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="">
    </div>
    <div class="img-item">
        <img src="https://images.pexels.com/photos/1382731/pexels-photo-1382731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="">
    </div>
    <div class="img-item">
        <img src="https://images.pexels.com/photos/1758144/pexels-photo-1758144.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="">
    </div>
</section>