<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- 暂时不用 bootstrap -->
    <!-- <link rel="stylesheet" href="/plugins/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/plugins/iconfont/iconfont.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <%- body %>
    <!-- <script src="/plugins/bootstrap.min.js"></script> -->
    <script src="/plugins/jquery/jquery.min.js"></script>
</body>
</html>