<link rel="stylesheet" href="/css/sky.css">
<script src="/js/sky.js"></script>
<section class="sky-container">
    <!-- Todo: 做一只鸟，飞机，海市蜃楼 -->
    <!-- 可以把云的移动方向设置, 云的移动过渡更加友好 -->
    <div class="clouds clouds-one"></div>
    <div class="clouds clouds-two"></div>
    <div class="clouds clouds-three"></div>
</section>
<section class="box">
    <div class="join-us">仰望天空, 有惊喜哦！</div>
</section>